header {
    display: flex;
    justify-content: flex-right;
}
#about-you {
    border: 1px solid black;
    padding: 10px;
}
#section-two {
    border: 1px solid black;
    padding: 10px;
    /* display: flex; */
    /* justify-content: flex-center; */
    
}
#when-available {
    /* display: flex; */
    border: 1px solid black;
    padding: 10px;
}

